// Bootstrap Variables override
// docs: https://getbootstrap.com/docs/5.2/customize/sass/#variable-defaults
// -- ------

// Collor pallette
$primary: #a3d9ff;
$secondary: #7e6b8f;
$success: #96e6b3;
$warning: #ffd685;
$danger: #e57685;

// Table
$table-striped-bg: #d9dbd150;
